html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans";

  /* optionnel: cohérence rendu texte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Important: pour que les boutons/inputs héritent aussi (sinon font différente) */
button,
input,
select,
textarea {
  font: inherit;
}
